{%- set fqdn = grains.get('fqdn', 'localhost') -%}
{%- set namenode = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hadoop.hdfs.namenode', 'grains.items', 'compound').values() -%}
{%- set standby_namenode = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hadoop.hdfs.standby-namenode', 'grains.items', 'compound').values() -%}
{%- set resourcemanager = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hadoop.yarn.resourcemanager', 'grains.items', 'compound').values() -%}
{%- set standby_resourcemanager = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hadoop.yarn.standby-resourcemanager', 'grains.items', 'compound').values() -%}
{%- set historyserver = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hadoop.mapreduce.historyserver', 'grains.items', 'compound').values() -%}
{%- set hue = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hue', 'grains.items', 'compound').values() -%}
{%- set oozie = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.oozie', 'grains.items', 'compound').values() -%}
{%- set spark = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.spark.historyserver', 'grains.items', 'compound').values() -%}
{%- set hbase_masters = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hbase.master', 'grains.items', 'compound').values() -%}
{%- set impala_state_store = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.impala.state-store', 'grains.items', 'compound').values() -%}
{%- set impala_catalog = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.impala.catalog', 'grains.items', 'compound').values() -%}
{%- set manager = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.manager.server', 'grains.items', 'compound').values() -%}
{%- set https = pillar.cdh5.encryption.enable -%}
<!DOCTYPE html>
<html lang="en">
<head>
<title>CDH5 Landing Page</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<style>
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #333;
}
body {
  color: #fff;
}

a,
a:focus,
a:hover {
  color: #999;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px; 
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Set the fixed height of the footer here */ 
#footer {
  height: 60px;
  background-color: #555;
  color: #ddd;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px; 
}
.container .credit {
  margin: 20px 0; 
}
</style>
</head>
<body>
<div id="wrap">
    <div class="container">
        <h1>CDH5 Landing Page</h1>
        <p class="lead">Below is a list of useful links customized for your CDH5 stack:</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Hadoop</h4>
                <ul>
                    {% if hue %}
                    <li><a href='http://{{ hue[0]["fqdn"] }}:8888/home'>Hue</a></li>
                    {% endif %}
                    {% if manager %}
                    <li><a href='http://{{ manager[0]["fqdn"] }}:7180/'>Cloudera Manager</a></li>
                    {% endif %}
                    {% if namenode %}
                    <li><a href='{% if https %}https://{{ namenode[0]["fqdn"] }}:50470/{% else %}http://{{ namenode[0]["fqdn"] }}:50070/{% endif %}'>Hadoop HDFS NameNode</a></li>
                    {% endif %}
                    {% if standby_namenode %}
                    <li><a href='{% if https %}https://{{ standby_namenode[0]["fqdn"] }}:50470/{% else %}http://{{ standby_namenode[0]["fqdn"] }}:50070/{% endif %}'>Hadoop HDFS Standby NameNode</a></li>
                    {% endif %}
                    {% if resourcemanager %}
                    <li><a href='{% if https %}https://{{ resourcemanager[0]["fqdn"] }}:8090/{% else %}http://{{ resourcemanager[0]["fqdn"] }}:8088/{% endif %}'>Hadoop YARN ResourceManager</a></li>
                    {% endif %}
                    {% if standby_resourcemanager %}
                    <li><a href='{% if https %}https://{{ standby_resourcemanager[0]["fqdn"] }}:8090/{% else %}http://{{ standby_resourcemanager[0]["fqdn"] }}:8088/{% endif %}'>Hadoop YARN Standby ResourceManager</a></li>
                    {% endif %}
                    {% if historyserver %}
                    <li><a href='{% if https %}https://{{ historyserver[0]["fqdn"] }}:19890/{% else %}http://{{ historyserver[0]["fqdn"] }}:19888/{% endif %}'>Hadoop MapReduce History Server</a></li>
                    {% endif %}
                    {% if 'cdh5.hadoop.hdfs.datanode' in grains['roles'] %}
                    <li><a href='{% if https %}https://{{ fqdn }}:50475/{% else %}http://{{ fqdn }}:50075/{% endif %}'>Hadoop HDFS DataNode</a></li>
                    {% endif %}
                    {% if 'cdh5.hadoop.yarn.nodemanager' in grains['roles'] %}
                    <li><a href='{% if https %}https://{{ fqdn }}:8044/{% else %}http://{{ fqdn }}:8042/{% endif %}'>Hadoop YARN NodeManager</a></li>
                    {% endif %}
                    {% if oozie %}
                    <li><a href='{% if https %}https://{{ oozie[0]["fqdn"] }}:11443/{% else %}http://{{ oozie[0]["fqdn"] }}:11000/{% endif %}'>Oozie Dashboard</a></li>
                    {% endif %}
                    {% if spark %}
                    <li><a href='{% if https %}https://{{ spark[0]["fqdn"] }}:18488/{% else %}http://{{ spark[0]["fqdn"] }}:18088/{% endif %}'>Spark History Server</a></li>
                    {% endif %}
                </ul>
                {% if 'cdh5.hadoop.hdfs.namenode' in grains['roles'] or 'cdh5.hadoop.yarn.resourcemanager' in grains['roles'] or 'cdh5.hadoop.mapreduce.historyserver' in grains['roles']%}
                {% set datanodes = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:cdh5.hadoop.hdfs.datanode', 'grains.items', 'compound').values() %}
                <h4>Datanodes</h4>
                <ul>
                    {% for datanode in datanodes %}
                    <li><a href='http://{{ datanode["fqdn"] }}/'>{{ datanode['id'] }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div> <!-- col-md-6 -->

            <div class="col-md-6">
                {% if hbase_masters %}
                <h4>HBase</h4>
                <ul>
                    {% for hbase_master in hbase_masters %}
                    <li><a href='http{% if https %}s{% endif %}://{{ hbase_master["fqdn"] }}:60010/'>HBase Master</a></li>
                    {% endfor %}
                    {% if 'cdh5.hbase.regionserver' in grains['roles'] %}
                    <li><a href='http{% if https %}s{% endif %}://{{ fqdn }}:60030/'>HBase RegionServer</a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% if impala_state_store %}
                <h4>Impala</h4>
                <ul>
                    <li><a href="http://{{ impala_state_store[0]["fqdn"] }}:25010">Impala State Store</a></li>
                    <li><a href="http://{{ impala_catalog[0]["fqdn"] }}:25020">Impala Catalog</a></li>
                    {% if 'cdh5.impala.server' in grains['roles'] %}
                    <li><a href="http://{{ fqdn }}:25000">Impala Server</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div> <!-- col-md-6 -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- wrap -->

<div id="footer">
    <div class="container">
        <p class="credit"><small>
            This stack provisioned with 
            <a href="http://stackd.io">stackd.io</a> from 
            <a href="http://www.digitalreasoning.com">Digital Reasoning</a> // 
            <a href="http://www.digitalreasoning.com">www.digitalreasoning.com</a>
        </small></p>
    </div>
</div>

</body>
</html>
